{{ 'blog.css' | asset_url | stylesheet_tag }}
<style>
  .col-child {
    height: 200px;
    background-position: center;
    background-size: cover;
  }
  .breadcrumbs {
    padding-top: 30px;
  }
</style>


<div class="article__item" style="width:100%">
  <a href="{{article.url}}">
    <div class="col-child" style="background-image: url('{{ article | img_url: 'master' }}')">
      <br>
    </div>
  </a>
  <div class="article-data">
    <div class="tag-container">
      {% for tag in article.tags %}
        <div class="blog-tag">
          {{ tag | link_to_add_tag: tag | class: "blog-tags" }}
        </div>
      {% endfor %}
    </div>
    <div class="article-title">
      {{ article.title }}
    </div>
    <div class="rte article__grid-excerpt">
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt | strip_html | truncate: 190 }}
      {% else %}
        {{ article.content | strip_html | truncate: 180 }}
      {% endif %}
    </div>
    <div class="article-action">

      <a href="{{article.url}}" class="readmore">Read More {% render 'long-arrow-right' %}</a>

      <span class="article-date">
        {{ article.published_at | time_tag: format: 'date' }}
      </span>
    </div>
  </div>
</div>