{% unless template == 'index'
  or template == 'cart'
  or template == 'list-collections'
  or template == '404'
%}
  {% assign t = template | split: '.' | first %}

  <nav
    class="breadcrumbs"
    role="navigation"
    aria-label="breadcrumbs"
  >
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a
          class="breadcrumbs__link"
          href="/"
          title="Home"
          >Home</a
        >
        <i class="fas fa-angle-right"></i>
      </li>

      {% if template == 'customers/order' %}
        <li class="breadcrumbs__item">
          <a
            style="text-decoration: none;"
            class="breadcrumbs__link"
            href="/account"
            title="/account"
            >Orders</a
          >
          <i class="fas fa-angle-right"></i>
        </li>

        {% comment %}
          <li class="breadcrumbs__item">
            <a
            class="breadcrumbs__link"
            href="/"
            title="Home">Orders</a>
            <i class="fas fa-angle-right"></i>
          </li>
        {% endcomment %}
      {% endif %}
      {% case t %}
        {% when 'page' %}
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link {% if link.active %}active-breadcrumb {%endif%}"
              href="{{ page.url }}"
              aria-current="page"
            >
              {{- page.title -}}
            </a>
          </li>

        {% when 'product' %}
          {% if collection.url %}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link {% if link.active %}active-breadcrumb {%endif%}"
                href="{{collection.url}}"
              >
                {{- collection.title -}}
              </a>
              <i class="fas fa-angle-right"></i>
            </li>
          {% endif %}
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link active-breadcrumb"
              href="{{ product.url }}"
              aria-current="page"
            >
              {{- product.title -}}
            </a>
          </li>

        {%- when 'collection' and collection.handle -%}
          {% comment %}
            {% if collection.template_suffix == 'rooms' %}
              <li class="breadcrumbs__item"><a class='breadcrumbs__link' href="/pages/collections">Collections</a><i class="fas fa-angle-right"></i></li><li class="breadcrumbs__item">
              <a class='breadcrumbs__link active-breadcrumb' href="{{ product.url }}" aria-current="page">{{ collection.title }}</a>
              </li>
            {% endif %}
          {% endcomment %}

          {% for link in linklists['main-menu'].links %}
            {% if link.child_active or link.active %}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link " href="{{link.url}}">
                  {{- link.title -}}
                </a>
                <i class="fas fa-angle-right"></i>
              </li>

              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link active-breadcrumb"
                  href="{{collection.url}}"
                >
                  {{- collection.title -}}
                </a>
              </li>
            {% endif %}
          {%- endfor -%}

        {% when 'blog' %}
          <li class="breadcrumbs__item">
            <a href="/pages/blog" class="breadcrumbs__link"> Blog </a>
            <i class="fas fa-angle-right"></i>
          </li>
          {% if current_tags %}
            <li class="breadcrumbs__item">
              <a href="{{blog.url}}" class="breadcrumbs__link">
                {{ blog.title }}
              </a>
              <i class="fas fa-angle-right"></i>
            </li>
            <li class="breadcrumbs__item">
              {% capture tag_url %}
              {{ blog.url }}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
              <a
                class="breadcrumbs__link {% if  link.active %}active-breadcrumb {%endif%}"
                href="{{ tag_url }}"
                aria-current="page"
              >
                {{- current_tags | join: ' + ' -}}
              </a>
            </li>
          {% else %}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link {% if  link.active %}active-breadcrumb {%endif%}"
                href="{{ blog.url }}"
                aria-current="page"
              >
                {{- blog.title -}}
              </a>
            </li>
          {% endif %}

        {% when 'article' %}
          <li class="breadcrumbs__item">
            <a href="{{blog.url}}" class="breadcrumbs__link">
              {{- blog.title -}}
            </a>
            <i class="fas fa-angle-right"></i>
          </li>
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link {% if  link.active %}active-breadcrumb {%endif%}"
              href="{{ article.url }}"
              aria-current="page"
            >
              {{- article.title -}}
            </a>
          </li>

        {% else %}
          <li aria-current="page" class="breadcrumbs__item">
            <a
              class="breadcrumbs__link {% if  link.active %}active-breadcrumb {%endif%}"
              href="{{ request.path }}"
              aria-current="page"
            >
              {{- page_title -}}
            </a>
          </li>
      {% endcase %}
    </ul>
  </nav>
{% endunless %}

<style>
  a.breadcrumbs__link.active-breadcrumb {
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black !important;
  }
  .breadcrumb a {
    font-family: Nunito;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    text-decoration: none;
    margin-right: 10px;
    text-transform: capitalize;
  }
  .breadcrumb span {
    font-family: Nunito;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    text-decoration: none;
    margin-right: 10px;
    text-transform: capitalize;
  }
</style>
