<div class="large-up-hide image_full_bg " style="background: linear-gradient(354deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.75) 39.88%, rgba(255, 255, 255, 0.00) 58%), url({{image}})">
  <div class="page-width">
    <div class="banner-content">
      <h2 class="banner-title">
        {{ title }}
      </h2>
      <p class="banner-desc">
        {{ desc }}
      </p>
      {% render 'button', title: {{text}}, link: {{link}}, icon: true %}
    </div>
    <div class="hidden-content"></div>
  </div>
</div>

<div class="small-hide medium-hide image_full_bg" style="background: linear-gradient(270deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.75) 39.88%, rgba(255, 255, 255, 0.00) 58%), url({{image}})">
  <div class="page-width">
    <div class="banner-content">
      <h2 class="banner-title">
        {{ title }}
      </h2>
      <p class="banner-desc">
        {{ desc }}
      </p>
      {% render 'button', title: {{text}}, link: {{link}}, icon: true %}
    </div>
    <div class="hidden-content"></div>
  </div>
</div>