<div class="parent">
  <a href="{{link}}">
    <div class="child" style="background-image:url('{{image}}')">
      <div class="content" hidden>
        <div class="title">{{ title }}</div>
        <div class="description">
          {{ desc }}
        </div>
        <button class="colletction_btn">SHOP CATEGORY</button>
      </div>
    </div>
    <div class="content">
      <div class="title">{{ title }}</div>
      <div class="description">
        {{ desc }}
      </div>
    </div>
  </a>
</div>
