<div class="related-products page-header section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} animate--slide-in{% endif %}">
  {% render 'page-header' desc: {{page.content}}, imageD: {{section.settings.BannerD}}, imageM: {{section.settings.BannerM}}, title: {{page.title}} %}
</div>
<br/>
<style>
  .shopify-section-group-footer-group {
    margin-top: 0;
  }
</style>
{% schema %}
  {
    "name": "Header Banner",
    "tag": "section",
    "class": "banner_text_section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "label": "Banner",
        "id": "BannerD",
        "info": "Banner for large screens"
      }, {
        "type": "image_picker",
        "label": "Banner Mobile",
        "id": "BannerM",
        "info": "Banner for small screens"
      }
    ],
    "presets": [
      {
        "name": "Page header backgroud image"
      }
    ]
  }
{% endschema %}