<div class="collection-list isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="row home-video-container">
    <div class="video-details">
      <h2>{{ section.settings.header }}</h2>
      <p>{{ section.settings.body }}
      </p>

      {{ button }}

      {% if section.settings.button %}
        {% render 'button' title: {{section.settings.title}}, link: '{{section.settings.button-link}}' %}
      {% endif %}
    </div>

    <div class="video-embed">
      {{ section.settings.embed }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "image-overlay",
    "tag": "section",
    "class": "homepage_video",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "header",
        "default": "add an header",
        "label": "Text here.."
      },
      {
        "type": "inline_richtext",
        "id": "body",
        "default": "Talk about your brand",
        "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "embed",
        "default": "paste embed link",
        "label": "add copied embed code here"
      },
      {
        "type": "checkbox",
        "id": "button",
        "default": false,
        "label": "show button"
      }, {
        "type": "text",
        "id": "title",
        "default": "Call now",
        "label": "Buton text"
      }, {
        "type": "url",
        "id": "button-link",
        "default": "/",
        "label": "set a link"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Homepage video"
      }
    ]
  }
{% endschema %}