{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
{{ 'custom.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }

      .card-wrapper:hover {
        box-shadow: #00000005 0 3px 4px 5px;
          }
{%- endstyle -%}
{% comment %} add to cart popup  {% endcomment %}
<div id="cartmyModal" class="cartmodal">
  <div class="cartmodal-content">
    <div class="cartModalHeading">Item Added to the Cart</div>
    <span onclick="closeModal()" class="close">&times;</span>
    <div class="row">
      <div class="col-1">
        <img
          id="cartModalImg"
          src="{{product.featured_image | img_url: 'medium'}}"
        >
      </div>
      <div class="col-1">
        <h2 id="cartModalTitle">{{ product.title }}</h2>
        <div id="cartModaldesc" class="shortDesc">
          {{ product.description | truncatewords: 20, '...' }}
        </div>
      </div>
    </div>
    <div class="cartModalAction">
      <facet-remove class="">
        <a
          href="{{ results_url }}"
          class="active-facets__button-remove underlined-link"
        >
          <button class="continueShopping" onclick="closeModal()">
            Keep Shopping
          </button>
        </a>
      </facet-remove>

      <a href="/cart" class="">
        <button class="continueShopping">View Bag</button>
      </a>
    </div>
    <div class="button"></div>
  </div>
</div>
<br>
<div class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} animate--slide-in{% endif %}">
  <div class="main-header-container">
    <h2>{{ section.settings.title }}</h2>
    {% if section.settings.showmore %}
      <span class="large-up-hide"
        ><a href="{{section.settings.collection.url}}"
          >Shop all {% render 'arrow-right' -%}
        </a></span
      >
    {% endif %}
  </div>

  <hr style="margin: 30px 0; margin-top:5px">
  <div class="product_carousel">
    {%- for product in section.settings.collection.products
      limit: section.settings.products_to_show
    -%}
      {%
        render 'card-product',
        , cartModalImg: ,
        , cartModalTitle: ,
        , cartModaldesc: ,
        card_product: product,
        media_aspect_ratio: section.settings.image_ratio,
        image_shape: square,
        show_secondary_image: section.settings.show_secondary_image,
        show_vendor: section.settings.show_vendor,
        show_rating: section.settings.show_rating,
        show_quick_add: section.settings.enable_quick_add,
        section_id: section.id
      %}
    {%- endfor -%}
  </div>
</div>
<br>
<br>
<br>
{% javascript %}
  $('.product_carousel').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    prevArrow:
      '<img class="nav-left" style="top:-91px; right:60px;width:40px" src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/left.png">',
    nextArrow:
      '<img class="nav-right" style="top:-91px;right:0; width:40px" src="https://cdn.shopify.com/s/files/1/0779/1745/4639/files/right.png">',
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: 3,
        },
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 2,
        },
      },
    ],
  });
{% endjavascript %}

{% schema %}
{
  "name": "Homapege Product carousel",
  "tag": "section",
  "class": "product_carousel_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },

    {
      "type": "checkbox",
      "id": "showmore",
      "default": true,
      "label": "show more button"
    },

    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    }
  ],
  "presets": [
    {
      "name": "homepage product carousel"
    }
  ]
}
{% endschema %}
